<footer
	class="w-screen bg-secondaryLight h-16 absolute bottom-0"
>
<div class="flex flex-row">
  <div class="flex-none w-1/4 pl-4">
		{{ if .Site.Data.social }}
		<ul class="flex flex-row mt-1 text-left p-4">
			{{ range .Site.Data.social }}
			<li class="pl-3 pr-3">
				<a href="{{ .link }}" target="blank"
					><img
            class="h-8"
						src="{{ .image | relURL }}"
						title="{{ .name }}"
						alt="{{ .name }}"
				/></a>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
	<div class="flex-grow">
     <a href="/">
        <h1 class="text-center pt-2 text-5xl font-thin leading-tighter tracking-tighter mb-2 font-sans" style="letter-spacing: -0.142em;">
          <span class="bg-clip-text text-gray-400 text-opacity-60">
          SandLabs
        </span>
        </h1>
      </a>
  </div>
	<div class="flex-none w-1/4">
		<ul class="flex flex-row mt-1 text-right content-end">
			<li class="p-4 hover:bg-primary"><a href="{{ .Site.BaseURL }}">Home </a></li>
			<li class="p-4 hover:bg-primary"><a href="{{ .Site.BaseURL }}contact">Contact </a></li>
			<li class="p-4 hover:bg-primary">© {{ now.Format "2006" }} {{.Site.Title}}</li>
		</ul>
	</div>
</div>
</footer>
