<header class="w-screen bg-gradient-to-r from-secondary to-primary h-32">
    <div class="flex flex-row">
      <div class='flex-none w-1/4 overflow-visible'>
        <a href="/">
          <img class="h-44 pl-8" src="images/logo-transparent.svg" style='margin-top:-1.5rem;'>
        </a>
      </div>
      <a href="/">
        <h1 class="flex-grow text-center pt-8 text-7xl font-thin leading-tighter tracking-tighter mb-4 font-sans" style="letter-spacing: -0.142em;">
          <span class="bg-clip-text text-gray-400 text-opacity-60">
          SandLabs
        </span>
      </a>
        </h1>
      <div class="flex-none mt-12 w-1/4 pt-2">
        <a class="text-xl p-4 hover:bg-secondary" href="/about">
          About
        </a>
        <a class="text-xl p-4 hover:bg-secondary" href="/past-projects">
          Community
        </a>
        <a class="text-xl p-4 hover:bg-secondary" href="/past-projects">
          Past Projects
        </a>
      </div>
    </div>
</header>