#about {
  min-height: 95vh;
  @apply h-auto w-full bg-no-repeat bg-cover bg-fixed;
  background-image: url("/assets/lp/about.jpg");
  padding-top: 10vh;
}

.aboutHero {
  @apply flex flex-col text-center  justify-center w-5/6 mx-auto;
}

.aboutTitle {
  @apply font-extrabold font-merri subpixel-antialiased tracking-wide text-2xl md:text-4xl lg:text-6xl text-transparent bg-clip-text bg-gradient-to-tr from-Accent via-accent to-primary mx-auto py-4 md:py-6 lg:py-8;
}

.aboutPs {
  @apply text-xl;

}

.aboutCTA {
  @apply text-2xl text-white;

}

.aboutIcon {
  @apply w-1/4 lg:w-1/6 h-auto mx-auto p-2 md:p-3 lg:p-4 shadow-inner;
}

.aboutButtons {
  @apply  flex flex-row w-full h-auto justify-center;
}
.blogButton {
  @apply h-36 lg:h-24 m-4 border border-black border-4  bg-transparent hover:bg-accent hover:text-darker text-dark font-bold py-3 px-4 md:px-8 lg:px-12 duration-200 transition-colors;
}

.domainButton {
  @apply h-36 lg:h-24 m-4 border border-black border-4  bg-transparent hover:bg-accent hover:text-darker text-dark font-bold py-3 px-4 md:px-8 lg:px-12 duration-200 transition-colors;
}
/* 
 .aboutTitle {
  @apply font-extrabold font-merri subpixel-antialiased tracking-wide text-2xl md:text-4xl lg:text-6xl text-transparent bg-clip-text bg-gradient-to-tr from-Accent via-accent to-primary;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.aboutP {
}

.aboutIcon {
  width: 18vh;
  @apply h-auto block shadow-inner mx-auto py-4;
}

.aboutIconImg {
  @apply justify-self-center;
}

.aboutButtons {
  @apply block mx-auto text-white text-lg md:text-xl lg:text-2xl tracking-tighter font-scp font-semibold flex flex-row py-1 md:py-2 lg:py-4;
}

@media (min-width: 375px) { 
  .aboutHero {
    @apply flex justify-around flex-col h-full;
    padding: 6%;
  }
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: 95vh;
    top: 90vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutPs {
    @apply tracking-wide py-1
  }
  .aboutCTA {
    @apply  text-sm font-light text-white pb-4;
  }
}
@media (min-width: 768px) {
  .aboutHero {
    @apply flex flex-col h-full justify-between ;
    padding: 12%;
  }
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: 95vh;
    top: 90vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutPs {
    @apply text-lg tracking-wide py-2;
  }
  .aboutCTA {
    @apply  text-xl font-light text-white pb-4;
  }
}
@media (min-width: 1024px) {
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: 95vh;
    top: 90vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutHero {
    @apply flex justify-around flex-col h-full;
    padding: 18%;
  }
  .aboutPs {
    @apply text-xl tracking-wide py-4;
  }
  .aboutCTA {
    @apply  text-2xl font-light text-white pb-4;
  }
} */
