.aboutHero {
  @apply flex justify-around flex-col h-full m-6;
}

.aboutPs {
  @apply  text-xs md:text-xl lg:text-2xl font-bold py-4;
}

.aboutP {
}

.aboutCTA {
  @apply  text-sm md:text-2xl lg:text-3xl font-extralight text-white pb-4;
}

.aboutIcon {
  @apply w-1/4 lg:w-48 block shadow-inner mx-auto py-4;
}

.aboutIconImg {
  @apply justify-self-center;
}

.aboutButtons {
  @apply block mx-auto text-white text-xs md:text-base lg:text-base flex flex-row py-4;
}

@media (min-width: 375px) { 
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: auto;
    top: 95vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutTitle {
    @apply text-xl py-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-Accent to-Secondary hover:from-gray-700;
    padding-top: 14vh;
  }
}
@media (min-width: 768px) {
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: auto;
    top: 95vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutTitle {
    @apply text-4xl py-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-gray-500 to-accent hover:from-gray-700;
    padding-top: 10vh;
  }
}
@media (min-width: 1024px) {
  #about {
    @apply items-center bg-no-repeat bg-cover bg-fixed w-full text-center;
    height: 95vh;
    top: 95vh;
    background-image: url("/assets/lp/about.jpg");
  }
  .aboutTitle {
    @apply text-4xl py-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-tr from-gray-500 to-accent hover:from-gray-700;
    padding-top: 10vh;
  }
}
