.landingHero {
  @apply bg-no-repeat bg-cover w-full;
  height: 85vh;
  top: 10vh;
  background-image: url("/assets/lp/hero.jpg");
}

.landingTitle {
  @apply subpixel-antialiased px-12 pt-24  md:p-24 lg:p-36;
}

.landingtitle {
  @apply text-4xl md:text-6xl lg:text-8xl font-extrabold  tracking-tighter text-transparent  mb-0 pb-0 py-4 md:py-6 lg:py-8 bg-clip-text bg-gradient-to-r from-primary via-secondary to-Accent hover:to-dark;
  animation:fadeIn 4s;
}

.subtitle {
  animation:fadeIn 7s;
  margin-top: -2.5vh;
  @apply mt-0 md:mt-0 pt-0 md:pt-0 font-bold md:text-xl lg:text-2xl text-darker;
}
.downLink {
  @apply mx-auto absolute  w-40 h-40 hover:scale-125;
  bottom: 5vh;
}
.downImg {
  margin-left: auto;
  margin-right: auto;
  height: 250%;
  width: 8%;
  @apply transform animate-bounce;
}
@keyframes fadeIn{
  0%{opacity:0;}
  50%{opacity:0.5;}
  100%{opacity:1;}
  }