.landingHero {
  @apply bg-no-repeat bg-cover w-full;
  height: 85vh;
  top: 10vh;
  background-image: url("/assets/lp/hero.jpg");
}

.landingTitle {
  @apply subpixel-antialiased p-12 md:p-24 lg:p-36;
}
.landingtitle {
  @apply lg:text-8xl font-extrabold  tracking-tighter text-transparent  mb-0 pb-0 bg-clip-text bg-gradient-to-r from-primary to-secondary hover:to-Accent;
}

.subtitle {
  @apply mt-0 pt-0 font-bold text-2xl text-darker;
  animation:fadeIn 5s;
  margin-top: -2.5vh;
}
.downArrow {
  bottom: 5vh;
  @apply absolute object-center w-full;
}
/* .downNote{
  display: block;
  bottom: 9vh;
  left: 70vh;
  @apply absolute
} */
.downImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
  @apply transform hover:scale-125 animate-bounce;
}
@keyframes fadeIn{
  0%{opacity:0;}  
  50%{opacity:0.5;}
  100%{opacity:1;}
  }