{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{- end }} {{ range .Site.Params.custom_js -}}
<script src="{{ . | absURL }}"></script>
{{- end }}

<script
	src="https://kit.fontawesome.com/dfde3f60e0.js"
	crossorigin="anonymous"
></script>

<div
	class="
		flex
		justify-between
		items-center
		shadow-lg
		bg-gradient-to-r
		from-primary
		to-secondary
	"
	style="height: 10vh"
>
	<div class="container flex-auto justify-between items-center justify-start">
		<a href="{{ .Site.BaseURL }}">
			<div class="flex flex-row">
				<div class="logo">
					<img
						alt="Figurit Homepage"
						src="{{ .Site.BaseURL }}images/logos/logo2/logo-transparent.svg"
					/>
				</div>
				<div class="logo-mobile">
					<img
						alt="Figurit Homepage"
						src="{{ .Site.BaseURL }}images/logos/logo/logo-transparent.svg"
					/>
				</div>
				<div
					class="text-Secondary text-2xl align-middle font-black"
					style="margin-top: 5vh"
				>
					SandLabs
				</div>
			</div>
		</a>
	</div>
	<div class="p-4 flex-auto">
		{{ partial "main-menu.html" . }} {{ partial "hamburger.html" . }}
	</div>
</div>
