{{ range .Site.Params.custom_css -}}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{- end }} {{ range .Site.Params.custom_js -}}
<script src="{{ . | absURL }}"></script>
{{- end }}

<script
	src="https://kit.fontawesome.com/dfde3f60e0.js"
	crossorigin="anonymous"
></script>

<header class="sticky top-0 inline-flex w-screen justify-between bg-gradient-to-r from-primary to-secondary" style="height: 10vh;">
			<a class="hover:bg-secondary" href="{{ .Site.BaseURL }}">
				<ul class="h-full flex flex-row">
					<li class="self-center w-max">
							<img class="object-contain h-12 md:h-24 lg:h-36 py-1"
						alt="SandLabs Homepage"
						src="{{ .Site.BaseURL }}images/logos/logo-transparent.svg"
					/>
					</li>
					<li class="self-center justify-self-start">
						<span class="text-xl max-w-full md:text-2xl lg:text-3xl font-extrabold tracking-tighter">{{ .Site.Title }}</span>
					</li>
				</ul>
			</a>
	<nav class="self-center mr-3">
		{{ partial "main-menu.html" . }} {{ partial "hamburger.html" . }}
	</nav>
</header>
